body {
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
}

h1, h2 {
  font-family: "Poppins", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
}