:root {
  --btn-primary-color: hsl(322, 100%, 66%);
  --btn-secondary-color: white;
}

/* Mobile */
body {
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
}

h1, h2 {
  font-family: "Poppins", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
}

.btn {
  height: 80px;
  width: 400px;
  border: 0;
  border-radius: 40px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background: var(--btn-primary-color);
  color: white;
  font-weight: 700;
  display: block;
  margin: 0 auto;
  font-size: 20px;
}

.btn-secondary {
  background: var(--btn-secondary-color);
  font-weight: 700;
}

.btn-large {
  width: 480px;
}

.btn-small {
  height: 50px;
  width: 190px;
}

/* Desktop */
@media only screen and (min-width: 420px) {
}